<h2>About me</h2>
<div>
  <p>I am a software engineering technology student from centennial college</p>
  <p>I am on my path to be a software engineer.</p>
  <img src="../content/images/me.jpg" height="200" />
  <a href="../content/files/Alex-Tang.pdf"><p>My Resume</p></a>
</div>
