<h1><%= title %></h1>
<div>
  <h2>Welcome to my personal website</h2>
  <div id="ulLink">
    <img src="../content/images/hello.webp" class="home-img"  width="600px"/>
    <ul>
    <a href="/about"><li>About me</li></a>
    <a href="/projects"><li>Projects</li></a>
    <a href="/services"><li>Services</li></a>
    <a href="/contact"><li>Contact</li></a>
  </ul></div>
  
</div>

<div>
  <p>Mission Statement: Trying to build best the project</p>
</div>
