<h1><%= title %></h1>
<div>
  <h2>Welcome to my personal website</h2>
  <div id="ulLink">
    <ul>
    <a href="http://localhost:3000/about"><li>About me</li></a>
    <a href="http://localhost:3000/projects"><li>Projects</li></a>
    <a href="http://localhost:3000/services"><li>Services</li></a>
    <a href="http://localhost:3000/contact"><li>Contact</li></a>
  </ul></div>
  
</div>

<div>
  <p>Mission Statement: Trying to build best the projects</p>
</div>
