<h1><%= title %></h1>
<div id="container">
  <div>
    <h3>personal website</h3>
    <img src="../content/images/project1.jpg" class="project_img" />
    <p class="text">
      This project is my personal website, it is created by ExpressJS as well as
      the EJS templating engine.
    </p>
  </div>
  <div>
    <h3>Database project</h3>
    <img src="../content/images/project2.jpg" class="project_img" />
    <p class="text">
      This project is a database project, I create it with oracle SQL.
    </p>
  </div>
  <div>
    <h3>Bank project using Java</h3>
    <img src="../content/images/project3.jpg" class="project_img" />
    <p class="text">
      This project is a bank system project, it is created with Java to help
      bank to maintain customers' information.
    </p>
  </div>
</div>
