<h1><%= title %></h1>
<div id="service-container">
  <div>
    <h3></h3>
    <img src="../content/images/services.png" class="service_img"  width="600px"/>
    <p class="service-text">
      I offer fellowing services:
      <ul>
        <li>Build website</li>
        <li>Maintain website</li>
        <li>Software development</li>
        <li>Game programming</li>
        <li>Build and maintain Database</li>
      </ul>
    </p>
  </div>
</div>
